<div
  *ngIf="isOpen"
  class="fixed inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50"
>
  <div class="bg-white p-6 rounded shadow-lg">
    <h2 class="text-lg font-bold">¿Estás seguro de eliminar?</h2>
    <h6 class="text-sm text-gray-500">Esta acción no se puede deshacer.</h6>
    <div class="flex justify-end space-x-4 mt-4">
      <button
        (click)="closeModal()"
        class="px-4 py-2 text-white bg-[#1a1a1c] rounded"
      >
        Cancelar
      </button>
      <button
        (click)="onSubmit($event)"
        class="px-4 py-2 bg-red-500 text-white rounded"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>
